extends ../layout/mainAdmin

block main 
    .container

        h2 Produtos:

        a(href='/admin/addProduto')
            button(type='button').btn.btn-success Cadastrar um Produto
        a(href='#')
            button(type='button').btn.btn-success Editar dados de um Produto
        a(href='#')
            button(type='button').btn.btn-success Deletar um Produto